OzonEdu.MerchandiseApi/src/OzonEdu.MerchandiseApi/bin/
OzonEdu.MerchandiseApi/src/OzonEdu.MerchandiseApi/obj/
OzonEdu.MerchandiseApi/.idea/
OzonEdu.MerchandiseApi/src/OzonEdu.MerchandiseApi/Properties/launchSettings.json
